*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 0px 180px;
}
header>aside{
    width: 200px;
    height: 72px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
header>aside>img{
    width: 150px;

}
header nav{
    width: 450px;
    height: 72px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul{
    height: 10vh;
    display: flex;
    width: 70%;
    justify-content: space-evenly;

}
nav ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
button{
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 35px;
    border: 0px;
    cursor: pointer;
}

main{
    width: 100%;
    height: 80vh;
    border: 2px solid;
    background-color: #f0f0f0;
    display: flex;
    position: relative;
    overflow: hidden;

}
article{
    width: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 100px 150px;
}
main>aside{
    width: 30%;
    border: 1px solid blue;
    overflow: hidden;
}
article>main>h1{
    font-size: 80px;
    font-weight: 500;
}
main>article>button{
    padding: 12px 30px;
    font-size: 16px;
}
main>aside{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
    left:0px
}
footer{
    width: 100%;
    height: 10vh;

}
footer>ul{
    display: flex;

    justify-content: center;
    align-items: center;
}
footer>ul>li{
    list-style: none;
}

@media screen and (max-width:720px){
    body{

    }
    header{
        width: 100%;
        justify-content: space-between;
        padding: 0px;
        height: 15vh;
    }
    header nav{
        width: 200px;
    }
    nav>ul{
        display: none;
    }
    main{
        width: 100%;
        height: 100vh;
        justify-content: start;
        padding: 30px;
    }
    main>article{
        height: 70%;
        width:80%;
        gap: 40px;   
    }
    main>aside{
        display: none;
    }
    main>article>h1{
        font-size: 120px;
    }
    main>article>p{
        font-size: 20px;
    }
    main>article>button{
        background-color: greenyellow;
        padding: 20px;
        font-size: 30px;
    }
    
    footer{
        height: 10vh;
        background-color: black;
        color: #f0f0f0;
    }
    footer>ul{
        padding: 0px 30px;
        justify-content: start;
        gap: 20px;
    }
    footer>ul>li:nth-child(5),
    footer>ul>li:nth-child(6),
    footer>ul>li:nth-child(7){
        display: none;
    }
    footer>ul>li:hover{
        text-decoration-line: underline;
    }
}